body {
  display: block;
  background: plum;
}

h1 {
  text-align: center;
  font-size: 100px;
}

p {
  text-align: center;
  font-size: 30px;
}

footer {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 25px;
}

a {
  margin: 0 30px;
  color: red;
}

.croissant-photo {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

.email {
  color: blue;
}
